.question-form {
    width: 100%;
    max-width: 420px;
    margin: auto;
}
.question-form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}
.big_font {
    font-size: 6rem;
}
